button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f7f7f7;
  cursor: pointer;
  font-size: 0.1em;
  border-top: none;
  border-left: none;
  --bcolor: #848484; /* border color variable */
  border-right: 1px solid var(--bcolor);
  border-bottom: 1px solid var(--bcolor);
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 !important;
}

button:last-child {
  border-right: none;
}

button:hover {
  background-color: #e0e0e0
}

button:focus {
  outline: none;
}

button.wide {
  flex-grow: 2;
  border-left: 1px solid #f7f7f7;
}

button.wide:hover {
  border-left: 1px solid #e0e0e0;
}